@{
    Layout = null;
}
@model RegisterDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Register - SB Admin</title>
    <link href="~/sb-admin-2/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center" style="margin-top: 10vh;">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4" style="color: #1488e1;">Create Account</h3></div>
                                <div class="card-body">
                                    <form asp-controller="Account" asp-action="AdminRegister" method="post">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input asp-for="FirstName" type="text" class="form-control" placeholder="Enter your first name" />
                                                    <label asp-for="FirstName"><i class="fa-solid fa-person fa-lg" style="color: #74C0FC;"></i>   First name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input asp-for="LastName" type="text" class="form-control" placeholder="Enter your last name" />
                                                    <label asp-for="LastName">   Last name</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="UserName" type="text" class="form-control" placeholder="User Name" />
                                            <label asp-for="UserName"><i class="fa-solid fa-user" style="color: #74C0FC;"></i>   User Name</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com" />
                                            <label asp-for="Email"><span class="fas fa-envelope" style="color: #74C0FC;"></span>   Email address</label>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input asp-for="Password" type="password" class="form-control" placeholder="Create a password" />
                                                    <label asp-for="Password"><span class="fas fa-lock" style="color: #74C0FC;"></span>   Password</label>
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm password" />
                                                    <label asp-for="ConfirmPassword"><span class="fas fa-lock" style="color: #74C0FC;"></span>  Confirm Password</label>
                                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="mt-4 mb-0">
                                            <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Create Account</button></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a asp-controller="Account" asp-action="Login">Have an account? Go to login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/sb-admin-2/js/scripts.js"></script>
</body>
</html>
