@{
    Layout = null;
}

@model LoginDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login - SB Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="~/sb-admin-2/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-4K2QLKc0nfhj9bS/LcZ5E28FLQvrn+DmeETEdXKZTrQoVTufIATFYbU+ovnX9KtZfjfS+hRX3GjEudcM2N44aA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/Login.css" rel="stylesheet" />

</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <div class="login-header">
                <h3>Login</h3>
            </div>
            <form asp-controller="Account" asp-action="Login">
                <div class="form-floating">
                    <input asp-for="UserName" class="form-control" id="userName" placeholder=" " />
                    <label for="userName"><i class="fas fa-user" style="color: #74C0FC;"></i> User Name</label>

                </div>
                <div class="form-floating">
                    <input asp-for="Password" type="password" class="form-control" id="password" placeholder=" " />
                    <label for="password"><i class="fas fa-lock" style="color: #74C0FC;"></i> Password</label>

                </div>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger" role="alert">
                        @foreach (var modelState in ViewData.ModelState.Values)
                        {
                            foreach (var error in modelState.Errors)
                            {
                                <div>@error.ErrorMessage</div>
                            }
                        }
                    </div>
                }
                <button type="submit" class="login-btn">Login</button>
            </form>
            <div class="card-footer text-center py-3">
                <div class="small">Need an account? <a asp-controller="Account" asp-action="Register" class="register-link">Sign up!</a></div>
            </div>
        </div>
    </div>
</body>
</html>
