@model IEnumerable<ETicaretPlatformu.Application.Models.VMs.ProductVMs.ProductVM>

<script>
    function removeFilter() {
        document.getElementById("category").value = 0;
        document.forms[1].submit();
    }
    function removePriceFilter() {
        document.getElementById("minPrice").value = "";
        document.getElementById("maxPrice").value = "";
        document.forms[1].submit();
    }
</script>
<body>

    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop homepage template</p>
            </div>
        </div>
    </header>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-2">
                    <form asp-action="Index" method="get">
                        <div class="input-group">
                            <input name="term" class="form-control" placeholder="Isme göre ara" />
                            <button type="submit" class="btn btn-info">Ara</button>
                        </div>
                    </form>
                </div>

                <div class="col-md-5">
                    <form asp-controller="Home" asp-action="FilterByCategory" method="get">
                        <div class="input-group">
                            <select class="form-control" id="category" name="categoryId">
                                <option value="">Kategoriler</option>
                                @foreach (var category in ViewBag.TumKategoriler)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Kategoriye Göre Filtrele</button>
                                <a href="#" class="btn btn-danger" onclick="removeFilter()">Kategori Filtresini Kaldır</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-5">
                    <form asp-controller="Home" asp-action="Index" method="get">
                        <div class="input-group">
                            <input type="number" id="minPrice" name="minPrice" class="form-control" placeholder="Min Price" />
                            <input type="number" id="maxPrice" name="maxPrice" class="form-control" placeholder="Max Price" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Fiyata Göre Filtrele</button>
                                <a href="#" class="btn btn-danger" onclick="removePriceFilter()">Fiyat Filtresini Kaldır</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var product in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="@product.ImagePath" alt="Current Image" style="width: 260px; height: 150px;" />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">@product.Name</h5>
                                    $@product.Price
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                }
            </div> <!-- Close the row for cards -->
        </div> <!-- Close the container -->
    </section> <!-- Close the section -->
</body>

