@model List<ETicaretPlatformu.Application.Models.VMs.CatagoryVM.CatagoryVM>

<ul class="list-unstyled text-center" style="font-size: 1.2rem;">
    @foreach (var category in Model)
    {
        <li style="margin-bottom: 10px;">
            <a href="@Url.Action("FilterByCategory", "Home", new { categoryId = category.Id })" class="text-decoration-none  categories-css">@category.Name</a>
        </li>
    }
</ul>
